<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主机检测系统流量统计</title>
    <script src="../../static/js/vue2.js"></script>
    <script src="../../../static/js/echarts.js"></script>
    <!-- 添加 Axios CDN 引用 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        body {
            background-color: #1f2d3d;
            color: #fff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }

        .top-section {
            display: flex;
            flex: 1;
            padding: 10px;
            box-sizing: border-box;
        }

        .top-left {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .top-right {
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .chart {
            background-color: #2c3e50;
            margin: 5px;
            border-radius: 8px;
            flex: 1;
        }

        #total-traffic-trend, #ip-traffic-trend, #protocol-traffic-trend {
            flex: 1;
        }

    </style>
</head>
<body>
<div id="app" class="container">
    <div class="top-section">
        <div class="top-left">
            <div id="network-alert" class="chart"></div>
            <div id="network-packet-loss" class="chart"></div>
        </div>
        <div class="top-right">
            <div id="total-traffic-trend" class="chart"></div>
            <div id="ip-traffic-trend" class="chart"></div>
            <div id="protocol-traffic-trend" class="chart"></div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                socket: null,
                trafficData: [],
                totalTrafficData: [],
                ipTrafficData: {},
                protocolTrafficData: {},
                packetLossData: [],
                colors: {},
                totalTrafficTrendChart: null,
                ipTrafficTrendChart: null,
                protocolTrafficTrendChart: null,
                knownIPs: new Set() // 用于存储已知的IP地址
            };
        },
        mounted() {
            this.initWebSocket();
            this.initNetworkAlertChart();
            this.initNetworkPacketLossChart();
            this.initTotalTrafficTrendChart();
            this.initIpTrafficTrendChart();
            this.initProtocolTrafficTrendChart();
        },
        methods: {
            initWebSocket() {
                let domain = document.domain;
                this.socket = new WebSocket('ws://' + domain + ':8003/ws?client_type=web'); // 确保WebSocket URL正确
                this.socket.onmessage = (event) => {
                    try {
                        const data = JSON.parse(event.data);
                        this.updateCharts(data);
                    } catch (e) {
                        console.error('Error parsing JSON:', e);
                    }
                };
                this.socket.onclose = () => {
                    console.log("WebSocket connection closed. Reconnecting...");
                    setTimeout(this.initWebSocket, 1000); // 1秒后重新连接
                };
            },
            updateCharts(data) {
                if (data.type === 'traffic_stats') {
                    const statsData = JSON.parse(data.data);
                    const ip = data.ip;
                    const totalSent = statsData.total_sent;
                    const totalReceived = statsData.total_received;
                    const protocolSizes = statsData.protocol_sizes;
                    const timestamp = data.time;

                    // 添加新的IP到已知IP列表中
                    this.knownIPs.add(ip);

                    // 更新IP相关的流量数据
                    this.knownIPs.forEach(knownIP => {
                        this.updateTrafficData(this.ipTrafficData, ip, 'in', timestamp, totalReceived);
                        this.updateTrafficData(this.ipTrafficData, ip, 'out', timestamp, totalSent);
                    });

                    this.updateTrafficData(this.protocolTrafficData, 'TCP', 'in', timestamp, protocolSizes.TCP);
                    this.updateTrafficData(this.protocolTrafficData, 'UDP', 'in', timestamp, protocolSizes.UDP);
                    this.updateTrafficData(this.protocolTrafficData, 'HTTP', 'in', timestamp, protocolSizes.HTTP);
                    this.updateTrafficData(this.protocolTrafficData, 'HTTPS', 'in', timestamp, protocolSizes.HTTPS);
                    this.updateTrafficData(this.protocolTrafficData, 'SSH', 'in', timestamp, protocolSizes.SSH);
                    this.updateTrafficData(this.protocolTrafficData, 'DNS', 'in', timestamp, protocolSizes.DNS);
                    this.updateTrafficData(this.protocolTrafficData, 'ICMP', 'in', timestamp, protocolSizes.ICMP);

                    this.insertTrafficData(this.totalTrafficData, {
                        time: timestamp,
                        inPacketSize: totalReceived,
                        outPacketSize: totalSent
                    });

                    this.updateTotalTrafficTrendChart();
                    this.updateIpTrafficTrendChart();
                    this.updateProtocolTrafficTrendChart();
                }
            },
            initTotalTrafficTrendChart() {
                this.totalTrafficTrendChart = echarts.init(document.getElementById('total-traffic-trend'));
                const option = {
                    title: {
                        text: '总的流量统计趋势',
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        formatter: function (params) {
                            let result = params[0].name + '<br/>';
                            params.forEach(function (item) {
                                result += item.marker + item.seriesName + ': ' + item.value + ' MB/S<br/>';
                            });
                            return result;
                        }
                    },
                    legend: {
                        data: ['流入', '流出'],
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: [],  // 初始化为空
                        axisLine: {
                            lineStyle: {
                                color: '#fff'
                            }
                        }
                    },
                    yAxis: {
                        type: 'value',
                        axisLine: {
                            lineStyle: {
                                color: '#fff'
                            }
                        }
                    },
                    series: [
                        {
                            name: '流入',
                            type: 'line',
                            data: [],
                            itemStyle: {
                                color: '#6ab04c'
                            },
                            areaStyle: {
                                color: 'rgba(106, 176, 76, 0.3)'
                            }
                        },
                        {
                            name: '流出',
                            type: 'line',
                            data: [],
                            itemStyle: {
                                color: '#f6e58d'
                            },
                            areaStyle: {
                                color: 'rgba(246, 229, 141, 0.3)'
                            }
                        }
                    ]
                };
                this.totalTrafficTrendChart.setOption(option);
            },
            initIpTrafficTrendChart() {
                this.ipTrafficTrendChart = echarts.init(document.getElementById('ip-traffic-trend'));
                const option = {
                    title: {
                        text: '各个IP的流量统计趋势',
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        formatter: function (params) {
                            let result = params[0].name + '<br/>';
                            params.forEach(function (item) {
                                result += item.marker + item.seriesName + ': ' + item.value + ' MB/S<br/>';
                            });
                            return result;
                        }
                    },
                    legend: {
                        data: [],  // 初始化为空
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: [],  // 初始化为空
                        axisLine: {
                            lineStyle: {
                                color: '#fff'
                            }
                        }
                    },
                    yAxis: {
                        type: 'value',
                        axisLine: {
                            lineStyle: {
                                color: '#fff'
                            }
                        }
                    },
                    series: []
                };
                this.ipTrafficTrendChart.setOption(option);
            },
            initProtocolTrafficTrendChart() {
                this.protocolTrafficTrendChart = echarts.init(document.getElementById('protocol-traffic-trend'));
                const option = {
                    title: {
                        text: '不同协议的流量统计趋势',
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        formatter: function (params) {
                            let result = params[0].name + '<br/>';
                            params.forEach(function (item) {
                                result += item.marker + item.seriesName + ': ' + item.value + ' MB/S<br/>';
                            });
                            return result;
                        }
                    },
                    legend: {
                        data: [],  // 初始化为空
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: [],  // 初始化为空
                        axisLine: {
                            lineStyle: {
                                color: '#fff'
                            }
                        }
                    },
                    yAxis: {
                        type: 'value',
                        axisLine: {
                            lineStyle: {
                                color: '#fff'
                            }
                        }
                    },
                    series: []
                };
                this.protocolTrafficTrendChart.setOption(option);
            },
            updateTrafficData(dataObject, key, direction, time, packetSize) {
                if (!dataObject[key]) {
                    this.$set(dataObject, key, {in: [], out: []});
                }
                this.insertTrafficData(dataObject[key][direction], {time, packetSize});
            },
            insertTrafficData(array, data) {
                const index = array.findIndex(item => item.time > data.time);
                if (index === -1) {
                    array.push(data);
                } else {
                    array.splice(index, 0, data);
                }
                if (array.length > 100) {
                    array.shift();  // 保持数据长度
                }
            },

            updateTotalTrafficTrendChart() {
                const times = this.totalTrafficData.map(item => item.time);
                const inPacketSizes = this.totalTrafficData.map(item => item.inPacketSize);
                const outPacketSizes = this.totalTrafficData.map(item => item.outPacketSize);

                this.totalTrafficTrendChart.setOption({
                    xAxis: {
                        data: times
                    },
                    series: [
                        {
                            name: '流入',
                            data: inPacketSizes
                        },
                        {
                            name: '流出',
                            data: outPacketSizes
                        }
                    ]
                });
            },
            updateIpTrafficTrendChart() {
                const times = this.totalTrafficData.map(item => item.time);
                const series = Object.keys(this.ipTrafficData).flatMap(ip => {
                    const inSeries = {
                        name: `${ip} 流入`,
                        type: 'line',
                        data: this.ipTrafficData[ip].in.map(item => item.packetSize),
                        itemStyle: {
                            color: this.getColor(ip, 'in')
                        },
                        areaStyle: {
                            color: this.getColor(ip, 'in', 0.3)
                        }
                    };
                    const outSeries = {
                        name: `${ip} 流出`,
                        type: 'line',
                        data: this.ipTrafficData[ip].out.map(item => item.packetSize),
                        itemStyle: {
                            color: this.getColor(ip, 'out')
                        },
                        areaStyle: {
                            color: this.getColor(ip, 'out', 0.3)
                        }
                    };
                    return [inSeries, outSeries];
                });

                this.ipTrafficTrendChart.setOption({
                    xAxis: {
                        data: times
                    },
                    legend: {
                        data: series.map(s => s.name)
                    },
                    series: series
                });
            },
            updateProtocolTrafficTrendChart() {
                const times = this.totalTrafficData.map(item => item.time);
                const series = Object.keys(this.protocolTrafficData).flatMap(protocol => {
                    return {
                        name: `${protocol} 流入`,
                        type: 'line',
                        data: this.protocolTrafficData[protocol].in.map(item => item.packetSize),
                        itemStyle: {
                            color: this.getColor(protocol, 'in')
                        },
                        areaStyle: {
                            color: this.getColor(protocol, 'in', 0.3)
                        }
                    };
                });

                this.protocolTrafficTrendChart.setOption({
                    xAxis: {
                        data: times
                    },
                    legend: {
                        data: series.map(s => s.name)
                    },
                    series: series
                });
            },
            getColor(key, direction, opacity = 1) {
                if (!this.colors[key]) {
                    const r = Math.floor(Math.random() * 256);
                    const g = Math.floor(Math.random() * 256);
                    const b = Math.floor(Math.random() * 256);
                    this.colors[key] = {
                        in: `rgba(${r}, ${g}, ${b}, ${opacity})`,
                        out: `rgba(${r}, ${g}, ${b}, ${opacity})`
                    };
                }
                return this.colors[key][direction];
            },
            initNetworkAlertChart() {
                axios.get('/api/alert/distribution')
                    .then(response => {
                        const data = response.data.data;
                        const chartData = Object.keys(data).map(type => {
                            let color = '#4CAF50'; // 轻微默认颜色
                            if (type === 'critical') {
                                color = '#D32F2F';
                            } else if (type === 'serious') {
                                color = '#F44336';
                            } else if (type === 'medium') {
                                color = '#FF9800';
                            }
                            return {
                                value: data[type],
                                name: this.translateAlertType(type),
                                itemStyle: { color: color }
                            };
                        });

                        const chart = echarts.init(document.getElementById('network-alert'));
                        const option = {
                            title: {
                                text: '网络告警',
                                left: 'center',
                                textStyle: {
                                    color: '#fff'
                                }
                            },
                            tooltip: {
                                trigger: 'item'
                            },
                            legend: {
                                orient: 'vertical',
                                left: 'left',
                                textStyle: {
                                    color: '#fff'
                                }
                            },
                            series: [
                                {
                                    name: '告警数量',
                                    type: 'pie',
                                    radius: ['50%', '70%'],  // 设置为环形图
                                    avoidLabelOverlap: false,
                                    label: {
                                        show: false,
                                        position: 'center'
                                    },
                                    emphasis: {
                                        label: {
                                            show: true,
                                            fontSize: '30',
                                            fontWeight: 'bold'
                                        }
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    data: chartData
                                }
                            ]
                        };
                        chart.setOption(option);
                    })
                    .catch(error => {
                        console.error('Error fetching alert distribution:', error);
                    });
            },

            translateAlertType(type) {
                const translations = {
                    critical: '紧急',
                    serious: '重要',
                    medium: '中等',
                    light: '轻微'
                };
                return translations[type] || type;
            },
            initNetworkPacketLossChart() {
                const chart = echarts.init(document.getElementById('network-packet-loss'));
                const option = {
                    title: {
                        text: '网络丢包',
                        left: 'center',
                        textStyle: {
                            color: '#fff'
                        }
                    },
                    tooltip: {
                        formatter: "{a} <br/>{b} : {c}%"
                    },
                    series: [
                        {
                            name: '丢包率',
                            type: 'gauge',
                            radius: '50%',
                            center: ['25%', '55%'],
                            axisLine: {
                                lineStyle: {
                                    width: 10,
                                    color: [
                                        [0.2, '#6ab04c'],
                                        [0.8, '#f6e58d'],
                                        [1, '#ff6f61']
                                    ]
                                }
                            },
                            axisLabel: {
                                distance: 5,
                                textStyle: {
                                    color: '#fff',
                                    fontSize: 10
                                }
                            },
                            splitLine: {
                                length: 15,
                                lineStyle: {
                                    color: '#fff'
                                }
                            },
                            pointer: {
                                width: 5
                            },
                            detail: {
                                formatter: '{value}%',
                                textStyle: {
                                    color: '#6ab04c',
                                    fontSize: 20
                                }
                            },
                            data: [{value: 0.2, name: '进入方向'}]
                        },
                        {
                            name: '丢包率',
                            type: 'gauge',
                            radius: '50%',
                            center: ['75%', '55%'],
                            axisLine: {
                                lineStyle: {
                                    width: 10,
                                    color: [
                                        [0.05, '#6ab04c'],
                                        [0.8, '#f6e58d'],
                                        [1, '#ff6f61']
                                    ]
                                }
                            },
                            axisLabel: {
                                distance: 5,
                                textStyle: {
                                    color: '#fff',
                                    fontSize: 10
                                }
                            },
                            splitLine: {
                                length: 15,
                                lineStyle: {
                                    color: '#fff'
                                }
                            },
                            pointer: {
                                width: 5
                            },
                            detail: {
                                formatter: '{value}%',
                                textStyle: {
                                    color: '#6ab04c',
                                    fontSize: 20
                                }
                            },
                            data: [{value: 0.05, name: '流出方向'}]
                        }
                    ]
                };
                chart.setOption(option);
            }
        }
    });
</script>
</body>
</html>
