<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
     <link rel="stylesheet" href="/static/css/elementUI.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <script src="../../../static/js/vue2.js"></script>
    <script src="../../../static/js/elementUI.js"></script>
    <script src="../../../static/js/axios.js"></script>
    <script src="../../../static/js/request.js"></script>

    <style>
        #app {
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .box {
            background: white;
            padding-top: 100px;
        }

        .form-box {
            width: 100%;
            padding: 30px 80px 30px 80px;
            box-shadow: 0px 0px 5px 2px rgba(102, 102, 102, 0.24);
            border-radius: 10px;
        }

        .form {
            width: 100%;
        }
    </style>
</head>

<body>
<div id="app">
    <el-row class="box animate__animated animate__rubberBand">
        <el-col class="form-box" :span="12" :offset="6">
            <h4>用户注册</h4>
            <el-form :model="form" class="form">
                <el-form-item label="用户名">
                    <el-input type="text" v-model="form.username"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input type="text" v-model="form.password"></el-input>
                </el-form-item>
                <el-form-item label="选择角色">
                    <el-select v-model="form.role">
                        <el-option v-for="item in roles" :key="item.value" :label="item.label" :value="item.value">

                        </el-option>
                    </el-select>
                </el-form-item>
                <el-button @click="submit()" style="width: 100%" type="primary">
                    提交
                </el-button>
            </el-form>
        </el-col>
    </el-row>
</div>


<script type="text/javascript">
    new Vue({
        el: '#app',
        data: function () {
            return {
                form: {
                    username: "",
                    password: "",
                    role: "user"
                },
                roles: [
                    {
                        value: "admin",
                        label: "管理员"
                    },
                    {
                        label: "用户",
                        value: "user"
                    },
                    {
                        label: "可疑用户",
                        value: "keyiuser"
                    }
                ]
            }
        },
        methods: {
            async submit() {
                //     校验参数
                if (this.form.username === "" || this.form.password === "") {
                    this.$message("请完整填写表单")
                }

                //     发起请求
                let res = await request.post("/user/addUser", {
                    username: this.form.username,
                    password: this.form.password,
                    role: this.form.role
                })
                console.log(res.code)
                if (res.code > 0) {
                    this.$message({
                        message: res.msg,
                        type: 'success'
                    });
                }
            },
        }
    })

</script>
</body>
</html>
